#### 2023-04-14

##### 1교시

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pydataset

In [4]:
lifeboats =pydataset.data('Lifeboats')
lifeboats

                 launch       side boat  crew  men  women  total  cap
1   1912-04-15 00:45:00       Port    7     3    4     20     27   65
2   1912-04-15 00:55:00       Port    5     5    6     30     41   65
3   1912-04-15 01:00:00       Port    3    15   10     25     50   65
4   1912-04-15 01:10:00       Port    1     7    3      2     12   40
5   1912-04-15 01:20:00       Port    9     8    6     42     56   65
6   1912-04-15 01:25:00       Port   11     9    1     60     70   65
7   1912-04-15 01:35:00       Port   13     5    0     59     64   65
8   1912-04-15 01:35:00       Port   15    13    4     53     70   65
9   1912-04-15 01:40:00       Port    C     5    2     64     71   47
10  1912-04-15 00:55:00  Starboard    6     2    2     24     28   65
11  1912-04-15 01:10:00  Starboard    8     4    0     35     39   65
12  1912-04-15 01:20:00  Starboard   10     5    0     50     55   65
13  1912-04-15 01:25:00  Starboard   12     2    0     40     42   65
14  1912-04-15 01:30:00  Starboard   14     8    2     53     63   65
15  1912-04-15 01:35:00  Starboard   16     6    0     50     56   65
16  1912-04-15 01:45:00  Starboard    2     4    1     21     26   40
17  1912-04-15 01:55:00  Starboard    4     4    0     36     40   65
18  1912-04-15 02:05:00  Starboard    D     2    2     40     44   47

In [5]:
di = {'C':10, 'D':5}

In [6]:
#1번  map과 lambda를 사용하여 'boat'를 바꿔주세요.
lifeboats['boat'] = lifeboats['boat'].map(lambda x: di.get(x,x))
lifeboats

                 launch       side boat  crew  men  women  total  cap
1   1912-04-15 00:45:00       Port    7     3    4     20     27   65
2   1912-04-15 00:55:00       Port    5     5    6     30     41   65
3   1912-04-15 01:00:00       Port    3    15   10     25     50   65
4   1912-04-15 01:10:00       Port    1     7    3      2     12   40
5   1912-04-15 01:20:00       Port    9     8    6     42     56   65
6   1912-04-15 01:25:00       Port   11     9    1     60     70   65
7   1912-04-15 01:35:00       Port   13     5    0     59     64   65
8   1912-04-15 01:35:00       Port   15    13    4     53     70   65
9   1912-04-15 01:40:00       Port   10     5    2     64     71   47
10  1912-04-15 00:55:00  Starboard    6     2    2     24     28   65
11  1912-04-15 01:10:00  Starboard    8     4    0     35     39   65
12  1912-04-15 01:20:00  Starboard   10     5    0     50     55   65
13  1912-04-15 01:25:00  Starboard   12     2    0     40     42   65
14  1912-04-15 01:30:00  Starboard   14     8    2     53     63   65
15  1912-04-15 01:35:00  Starboard   16     6    0     50     56   65
16  1912-04-15 01:45:00  Starboard    2     4    1     21     26   40
17  1912-04-15 01:55:00  Starboard    4     4    0     36     40   65
18  1912-04-15 02:05:00  Starboard    5     2    2     40     44   47

In [16]:
import os
os.chdir("/Users/admin/inventory")
print(os.getcwd())

C:\Users\admin\inventory

In [39]:
#2번 압축엑셀파일 세개를 전부 읽어낸 후에 합쳐주세요.
city = ['qingdao', 'Seoul', 'tianjin']
data = pd.DataFrame()
for i in city:
    frame = pd.read_excel(f'inv_{i}.xlsx')
    data = pd.concat([data, frame])
data 
data.set_index('창고명')

                             품목명           로케이션명  재고수량
창고명
칭다오창고   0.75KW DC-B 장축 BRAKE SET  CQD-A-01-01-01     1
칭다오창고    0.75KW IE3 2/3V IP44 중국  CQD-Z-01-01-01     3
칭다오창고    0.75KW IE3 2/3V IP44 중국  CQD-A-01-01-01     1
칭다오창고    0.75KW IE3 2/3V IP44 중국  CQD-A-01-01-01     1
칭다오창고    0.75KW IE3 2/3V IP44 중국  CQD-A-01-01-01     1
...                          ...             ...   ...
텐진창고                CTN-G02-2-11  CTJ-A-01-22-02     3
텐진창고                CTN-G02-8-11  CTJ-B-01-16-02     2
텐진창고                CTN-G02-8-11  Defective Zone    35
텐진창고                CTS-G01-2-11  CTJ-B-01-20-02    16
텐진창고   DHA-DIN CONNECTOR(AC110V)  CTJ-E-01-07-02    27

[175 rows x 3 columns]

In [32]:
import pandas as pd
pd.options.display.max_rows = 10

unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table('users.dat', sep='::', header=None, names=unames, engine='python')

rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('ratings.dat', sep='::', header=None, names=rnames, engine='python')

mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('movies.dat', sep='::', header=None, names=mnames, engine='python')

FileNotFoundError: [Errno 2] No such file or directory: 'users.dat'

In [31]:
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table("https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/movielens/users.dat", sep = "::", header = None, names = unames)
users
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table("https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/movielens/ratings.dat", sep = "::", header = None, names = rnames)
ratings
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table("https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/movielens/movies.dat", sep = "::", header = None, names = mnames)
movies

C:\Users\user\AppData\Local\Temp\ipykernel_9684\1101507330.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users = pd.read_table("https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/movielens/users.dat", sep = "::", header = None, names = unames)
C:\Users\user\AppData\Local\Temp\ipykernel_9684\1101507330.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_table("https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/movielens/ratings.dat", sep = "::", header = None, names = rnames)
C:\Users\user\AppData\Local\Temp\ipykernel_9684\1101507330.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_table("https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/movielens/movies.dat", sep = "::", header = None, names = mnames)

,movie_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [37]:
# 나이가 20~40살이며 여자인 데이터만 추출하여, 가장 많은 평점 개수가 있는 영화 상위 10개를 추출하시오.
movies.query('age>=20 and age <= 40 and gender =='F' ')

SyntaxError: Python keyword not valid identifier in numexpr query (<unknown>, line 1)